* {
  font-family: Lato;
}

section {
  display: none;
}

section:target {
  display: block;
  color: rgb(0, 0, 0, 1);
}

form#formularz fieldset {
  display: none;
}

form#formularz > fieldset:first-of-type {
  display: block;
}

form#formularz > input[type='checkbox']:checked + fieldset {
  display: block;
}
